@tailwind utilities;

@tailwind base;

@layer base {
  body {
    @apply p-0 m-0 relative;
    font-family: "sans-serif", "roboto";
  }

  main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

@tailwind components;

@layer components {
  .bg-1 {
    background-image: url("/public/bg1.jpg");
  }

  .bg-2 {
    background-image: url("/public/bg2.jpg");
  }

  .bg-3 {
    background-image: url("/public/bg3.jpg");
  }
  .bg-setup {
    @apply bg-fixed bg-center bg-cover bg-no-repeat py-40 md:py-48 lg:py-48 
    w-full flex flex-col items-center justify-start gap-6 md:gap-12;
  }
}
